/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

*,*:before,*:after {
    padding: 0;
    margin: 0;
    border: 0;    
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;  
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Rotate notification */
#rotate {
    display: none;    
}

#rotate p {
    font-size: 1.2em;
    text-align: center;
}

/* Parallax styles */

.parallax {
    position: relative;
    height: 100%;
}

.parallax__mountain {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.parallax__mountain__main {
    background: url('../img/mountain-main.png') top center / cover no-repeat;
}

.parallax__mountain__left {
    background: url('../img/mountain-left.png') bottom left / 100% no-repeat;
    z-index: 1;
}

.parallax__mountain__right {
    background: url('../img/mountain-right.png') bottom right / 45% no-repeat;
    z-index: 1;
}

.parallax__fog {
    background: url('../img/fog_1.png') bottom / 100% no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

/* Content styles */

.content {
    position: relative;
}

.content__body {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.content__header {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0 20px;
}

.main-title {
    margin-top: 40px;
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
}

.content__subtitle {
    font-size: 3rem;
}

.image-container {
    width: 100%;
    text-align: center;
}

.content__image {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.content__article {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 25px;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.content__article p {
    margin-bottom: 20px;
}

/* Skills */
.skills__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.skills__column {
    width: 33.333%;       
    display: -webkit-box;       
    display: -ms-flexbox;       
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.title {
    text-align: center;
    font-size: 2.500rem;
    margin: 30px 0;
}

.skills__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 75%;
}

.skills__item img {
    width: 100%;
    max-width: 128px;
    height: auto;
}

/* Portfolio */

.portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
}

.portfolio_description {
    padding: 10px;
}

.portfolio__item {
    margin-bottom: 20px;
}

.portfolio__preview {
    width: 30%;
    max-width: 400px;
    height: auto;
    float: left;
    margin-right: 15px;
}

.portfolio__icon {
    height: 40px;
    position: relative;
    top: 10px;
    left: 0;
}

.portfolio a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    background-color: #33a9dc;
    border: 1px solid #33a9dc;
    border-radius: 5px;
    color: #fff;
    text-align: center;    
    cursor: pointer;
    -webkit-transition: background-color ease 0.5s, border-color ease 0.5s;
    -o-transition: background-color ease 0.5s, border-color ease 0.5s;
    transition: background-color ease 0.5s, border-color ease 0.5s;
}

.portfolio a:hover {
    background-color: #85CEEE;
    border-color: #85CEEE;
}

.portfolio a:active {
    margin-top: 24px;
    margin-bottom: 16px;
}

/* Footer */

.footer {    
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: hsl(120, 1%, 58%);
    color: #fff;    
    font-size: 1rem;
}


/* Mobile */

/* Small screens */

@media screen and (max-width: 400px) {
    #rotate {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: rgba(0,0,0,0.7);        
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        height:100%;
        overflow:hidden;
        z-index: 999;
        color: #fff;
    }

    #content {
        display: none;
    }

    .main-title {
        margin-top: 100px;
        font-size: 2rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
    .portfolio__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }    

    .portfolio__preview {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .button__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }   
}


@media only screen and (min-width: 401px) and (max-width: 767px) {
    .main-title {
        margin-top: 150px;
        font-size: 3rem;
    }

    .content__subtitle {
        font-size: 2rem;
    }

    .title {
        line-height: 3rem;
    }

    .skills__column {
        width: 50%;
        margin-bottom: 20px;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }

    .skills__item img {
        width: 50%;
    }

    .portfolio__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }    

    .portfolio__preview {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .button__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}